<!DOCTYPE html>
<html lang="eng" class="js">

<head>

    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@@page-discription">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="../images/favicon.png">
    <!-- Page Title  -->
    <title>Login | Real Source Global Investment Company
    </title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="../assets/css/dashlite.css?ver=1.4.0">
    <link id="skin-default" rel="stylesheet" href="../assets/css/theme.css?ver=1.4.0">
    <style>
        body{
            background-color: aliceblue;
        }
    </style>
</head>
<!-- app body @s -->

<body class="bg-light-gray" id="body">
    <div class="container d-flex flex-column justify-content-between vh-100">
        <div class="row justify-content-center mt-5">
            <div class="col-xl-5 col-lg-6 col-md-10">
                <div class="card">
                    <% if(type != "" && heading != "" && message != ""){ %>
                    <div style="text-align: center;" class="alert alert-<%=type%>">
                        <strong><%=heading%></strong><br><%=message%>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    <%}else{%>
                    
                    <%}%>
                    <div class="card-header bg-primary">
                        <div class="app-brand">
                            <h5 class="brand-name text-light text-center">RSGLOBAL ADMINISTRATOR</h5>
                        </div>
                    </div>
                    <div class="card-body p-5">

                        <h4 class="text-dark mb-5">Sign In</h4>
                        <form action="/rsglobal131220-ControlPanel1" method="POST">
                            <div class="row">
                                    <input type="hidden" class="form-control input-lg" id="userid" value="<%= userid %>"
                                        name="userid" aria-describedby="emailHelp" placeholder="Username">
                                    <input type="hidden" class="form-control input-lg" id="passkey" value="<%= password %>"
                                        name="passkey" placeholder="Password">
                               
                                <div class="form-group col-md-12 ">
                                    <input type="password" class="form-control input-lg" id="token" 
                                        name="token" placeholder="Token">
                                </div>
                                <div class="col-md-12">
                                    <div class="d-flex my-2 justify-content-between">
                                        <div class="d-inline-block mr-3">
                                            <label class="control control-checkbox">Remember me
                                                <input type="checkbox" />
                                                <div class="control-indicator"></div>
                                            </label>
                                        </div>
                                        <!-- <p><a class="text-danger" href="#">Forgot Your Password?</a></p> -->
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block mb-4">Continue &#8594;</button>
                                    <p class="text-center text-danger"><i>
                                            This is a <strong>Restricted Area</strong> and only
                                            <strong>Administrators</strong> are allowed access to this page.
                                        </i>
                                        <br>
                                    <h3 class="text-center text-danger"><b>Keep Off!!!</b></h3>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright pl-0">
            <p class="text-center">&copy; 2020 Copyright RSGlobal Investment
                <!-- <a class="text-primary" href="http://www.iamabdus.com/" target="_blank">Abdus</a>. -->
            </p>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="../assets/js/bundle.js?ver=1.4.0"></script>
    <script src="../assets/js/scripts.js?ver=1.4.0"></script>
</body>

</html>